// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    color:red;
}
html {
    position:relative;
    min-height:100%;
}
body {
    padding:50px 25px 25px 25px;
    margin: 0 0 50px;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    overflow:hidden;
    padding:25px;
    background-color:#000;
    color:#fff;
    text-align: center;
}
nav a{
    color: #fff;
}

.index-page-welcome, .about-us-greeting, .contact-us-greeting {
    font-family: Cabin Condensed, helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 1em;
}

/* Structural Styles specific to the footer */

.footer ul {
    list-style-type: none;
}

.footer-item {
    display: inline;
    text-decoration: none;
    padding: .2em 1em;

}